Repository Vegan-Life/VeganLife-Backend, pull requests merged in 2024-01, with the labels that each got.

#187 댓글 등록 API 구현
  src/docs/asciidoc/comment.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/konggogi/veganlife/comment/controller/CommentController.java
  src/main/java/com/konggogi/veganlife/comment/controller/dto/request/CommentAddRequest.java
  src/main/java/com/konggogi/veganlife/comment/controller/dto/response/CommentAddResponse.java
  src/main/java/com/konggogi/veganlife/comment/domain/Comment.java
  src/main/java/com/konggogi/veganlife/comment/domain/mapper/CommentMapper.java
  src/main/java/com/konggogi/veganlife/comment/exception/IllegalCommentException.java
  src/main/java/com/konggogi/veganlife/comment/repository/CommentRepository.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentQueryService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentService.java
  src/main/java/com/konggogi/veganlife/global/advice/post/PostControllerAdvice.java
  src/main/java/com/konggogi/veganlife/global/config/SecurityConfig.java
  src/main/java/com/konggogi/veganlife/global/exception/ErrorCode.java
  src/main/java/com/konggogi/veganlife/post/domain/Post.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/fixture/CommentFixture.java
  src/test/java/com/konggogi/veganlife/comment/repository/CommentRepositoryTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/config/MapStructConfig.java
  src/test/java/com/konggogi/veganlife/member/fixture/MemberFixture.java
Labels: feature

#190 like 패키지 생성에 따른 로직 분리
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/like.adoc
  src/main/java/com/konggogi/veganlife/comment/domain/mapper/CommentMapper.java
  src/main/java/com/konggogi/veganlife/global/advice/post/PostControllerAdvice.java
  src/main/java/com/konggogi/veganlife/like/controller/LikeController.java
  src/main/java/com/konggogi/veganlife/like/domain/PostLike.java
  src/main/java/com/konggogi/veganlife/like/domain/mapper/LikeMapper.java
  src/main/java/com/konggogi/veganlife/like/exception/IllegalLikeStatusException.java
  src/main/java/com/konggogi/veganlife/like/repository/PostLikeRepository.java
  src/main/java/com/konggogi/veganlife/like/service/LikeService.java
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/domain/Post.java
  src/main/java/com/konggogi/veganlife/post/service/PostQueryService.java
  src/test/java/com/konggogi/veganlife/config/MapStructConfig.java
  src/test/java/com/konggogi/veganlife/like/controller/LikeControllerTest.java
  src/test/java/com/konggogi/veganlife/like/repository/PostLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeServiceTest.java
  src/test/java/com/konggogi/veganlife/member/controller/MemberControllerTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
Labels: refactor

#193 MemberFixture, PostFixture 수정
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/repository/CommentRepositoryTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/like/repository/CommentLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/like/repository/PostLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeServiceTest.java
  src/test/java/com/konggogi/veganlife/member/controller/MemberControllerTest.java
  src/test/java/com/konggogi/veganlife/member/controller/OauthControllerTest.java
  src/test/java/com/konggogi/veganlife/member/domain/MemberTest.java
  src/test/java/com/konggogi/veganlife/member/fixture/MemberFixture.java
  src/test/java/com/konggogi/veganlife/member/repository/MemberRepositoryTest.java
  src/test/java/com/konggogi/veganlife/member/service/IntakeNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/NutrientsQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/notification/repository/NotificationRepositoryTest.java
  src/test/java/com/konggogi/veganlife/notification/service/NotificationServiceTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/domain/PostTest.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostFixture.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostServiceTest.java
Labels: test

#195 댓글 등록, 댓글 좋아요시 알림 보내는 기능 구현
  src/main/java/com/konggogi/veganlife/comment/service/CommentNotifyService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentService.java
  src/main/java/com/konggogi/veganlife/like/service/LikeNotifyService.java
  src/main/java/com/konggogi/veganlife/like/service/LikeService.java
  src/main/java/com/konggogi/veganlife/notification/domain/MessageFormatter.java
  src/main/java/com/konggogi/veganlife/notification/domain/NotificationMessage.java
  src/main/java/com/konggogi/veganlife/notification/domain/NotificationType.java
  src/main/java/com/konggogi/veganlife/notification/service/NotificationService.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeServiceTest.java
Labels: feature

#196 PostFixture 메서드 수정
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeServiceTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostFixture.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
Labels: test

#200 회원 탈퇴시 연관된 엔티티로 인한 문제 해결
  src/main/java/com/konggogi/veganlife/comment/domain/Comment.java
  src/main/java/com/konggogi/veganlife/comment/repository/CommentRepository.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentService.java
  src/main/java/com/konggogi/veganlife/like/repository/CommentLikeRepository.java
  src/main/java/com/konggogi/veganlife/like/repository/PostLikeRepository.java
  src/main/java/com/konggogi/veganlife/like/service/LikeService.java
  src/main/java/com/konggogi/veganlife/mealdata/repository/MealDataRepository.java
  src/main/java/com/konggogi/veganlife/mealdata/service/MealDataService.java
  src/main/java/com/konggogi/veganlife/meallog/repository/MealLogRepository.java
  src/main/java/com/konggogi/veganlife/meallog/service/MealLogService.java
  src/main/java/com/konggogi/veganlife/member/repository/RefreshTokenRepository.java
  src/main/java/com/konggogi/veganlife/member/service/MemberService.java
  src/main/java/com/konggogi/veganlife/notification/repository/NotificationRepository.java
  src/main/java/com/konggogi/veganlife/notification/service/NotificationService.java
  src/main/java/com/konggogi/veganlife/post/domain/Tag.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostService.java
  src/test/java/com/konggogi/veganlife/comment/repository/CommentRepositoryTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/like/repository/CommentLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/like/repository/PostLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeServiceTest.java
  src/test/java/com/konggogi/veganlife/mealdata/repository/MealDataRepositoryTest.java
  src/test/java/com/konggogi/veganlife/mealdata/service/MealDataServiceTest.java
  src/test/java/com/konggogi/veganlife/meallog/repository/MealLogRepositoryTest.java
  src/test/java/com/konggogi/veganlife/meallog/service/MealLogServiceTest.java
  src/test/java/com/konggogi/veganlife/member/fixture/MemberFixture.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
  src/test/java/com/konggogi/veganlife/notification/repository/NotificationRepositoryTest.java
  src/test/java/com/konggogi/veganlife/notification/service/NotificationServiceTest.java
  src/test/java/com/konggogi/veganlife/post/repository/PostRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostServiceTest.java
Labels: bug, feature, fix, test

#204 `@Modifying` flushAutomatically 옵션 true
  src/main/java/com/konggogi/veganlife/comment/repository/CommentRepository.java
  src/main/java/com/konggogi/veganlife/like/repository/CommentLikeRepository.java
  src/main/java/com/konggogi/veganlife/like/repository/PostLikeRepository.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
Labels: fix

#202 댓글 상세 조회 API 구현 및 테스트
  src/docs/asciidoc/comment.adoc
  src/main/java/com/konggogi/veganlife/comment/controller/CommentController.java
  src/main/java/com/konggogi/veganlife/comment/controller/dto/response/CommentDetailsResponse.java
  src/main/java/com/konggogi/veganlife/comment/domain/Comment.java
  src/main/java/com/konggogi/veganlife/comment/domain/mapper/CommentMapper.java
  src/main/java/com/konggogi/veganlife/comment/repository/CommentRepository.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentQueryService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentSearchService.java
  src/main/java/com/konggogi/veganlife/comment/service/dto/CommentDetailsDto.java
  src/main/java/com/konggogi/veganlife/comment/service/dto/SubCommentDetailsDto.java
  src/main/java/com/konggogi/veganlife/like/service/LikeQueryService.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/fixture/CommentFixture.java
  src/test/java/com/konggogi/veganlife/comment/repository/CommentRepositoryTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentSearchServiceTest.java
  src/test/java/com/konggogi/veganlife/like/fixture/CommentLikeFixture.java
  src/test/java/com/konggogi/veganlife/like/service/LikeQueryServiceTest.java
Labels: feature, test

#207 Like 패키지 삭제에 따른 패키지 구조 및 코드 수정
  src/docs/asciidoc/comment.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/like.adoc
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/comment/controller/CommentController.java
  src/main/java/com/konggogi/veganlife/comment/domain/Comment.java
  src/main/java/com/konggogi/veganlife/comment/domain/CommentLike.java
  src/main/java/com/konggogi/veganlife/comment/domain/mapper/CommentLikeMapper.java
  src/main/java/com/konggogi/veganlife/comment/repository/CommentLikeRepository.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentLikeNotifyService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentLikeQueryService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentLikeService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentSearchService.java
  src/main/java/com/konggogi/veganlife/global/advice/post/PostControllerAdvice.java
  src/main/java/com/konggogi/veganlife/like/controller/LikeController.java
  src/main/java/com/konggogi/veganlife/like/service/LikeService.java
  src/main/java/com/konggogi/veganlife/member/service/MemberService.java
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/domain/Post.java
  src/main/java/com/konggogi/veganlife/post/domain/PostLike.java
  src/main/java/com/konggogi/veganlife/post/domain/mapper/PostLikeMapper.java
  src/main/java/com/konggogi/veganlife/post/exception/IllegalLikeStatusException.java
  src/main/java/com/konggogi/veganlife/post/repository/PostLikeRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostLikeQueryService.java
  src/main/java/com/konggogi/veganlife/post/service/PostLikeService.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/fixture/CommentLikeFixture.java
  src/test/java/com/konggogi/veganlife/comment/repository/CommentLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentLikeNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentLikeQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentLikeServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentSearchServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/config/MapStructConfig.java
  src/test/java/com/konggogi/veganlife/like/controller/LikeControllerTest.java
  src/test/java/com/konggogi/veganlife/like/service/LikeServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
  src/test/java/com/konggogi/veganlife/notification/service/NotificationServiceTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostFixture.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostLikeFixture.java
  src/test/java/com/konggogi/veganlife/post/repository/PostLikeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostLikeQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostLikeServiceTest.java
Labels: refactor

#210 레시피 목록 조회 API 구현
  src/docs/asciidoc/recipe.adoc
  src/main/java/com/konggogi/veganlife/member/domain/VegetarianType.java
  src/main/java/com/konggogi/veganlife/recipe/controller/RecipeController.java
  src/main/java/com/konggogi/veganlife/recipe/controller/dto/response/RecipeListResponse.java
  src/main/java/com/konggogi/veganlife/recipe/domain/Recipe.java
  src/main/java/com/konggogi/veganlife/recipe/domain/RecipeDescription.java
  src/main/java/com/konggogi/veganlife/recipe/domain/RecipeImage.java
  src/main/java/com/konggogi/veganlife/recipe/domain/RecipeIngredient.java
  src/main/java/com/konggogi/veganlife/recipe/domain/RecipeType.java
  src/main/java/com/konggogi/veganlife/recipe/domain/mapper/RecipeMapper.java
  src/main/java/com/konggogi/veganlife/recipe/repository/RecipeRepository.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeQueryService.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeSearchService.java
  src/test/java/com/konggogi/veganlife/recipe/controller/RecipeControllerTest.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeDescriptionFixture.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeFixture.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeImageFixture.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeIngredientsFixture.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeTypeFixture.java
  src/test/java/com/konggogi/veganlife/recipe/repository/RecipeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeSearchServiceTest.java
Labels: feature, test

#209 게시글 상세 조회 API구현
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/comment/service/CommentLikeQueryService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentSearchService.java
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/controller/dto/response/PostDetailsResponse.java
  src/main/java/com/konggogi/veganlife/post/domain/Post.java
  src/main/java/com/konggogi/veganlife/post/domain/mapper/PostMapper.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostQueryService.java
  src/main/java/com/konggogi/veganlife/post/service/PostSearchService.java
  src/main/java/com/konggogi/veganlife/post/service/dto/PostDetailsDto.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/fixture/CommentFixture.java
  src/test/java/com/konggogi/veganlife/comment/repository/CommentRepositoryTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentLikeQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentSearchServiceTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostFixture.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostLikeFixture.java
  src/test/java/com/konggogi/veganlife/post/repository/PostRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostSearchServiceTest.java
Labels: feature, refactor

#215 댓글 수정 API 구현 및 테스트
  src/docs/asciidoc/comment.adoc
  src/main/java/com/konggogi/veganlife/comment/controller/CommentController.java
  src/main/java/com/konggogi/veganlife/comment/controller/dto/request/CommentModifyRequest.java
  src/main/java/com/konggogi/veganlife/comment/domain/Comment.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentService.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
Labels: feature, test

#217 댓글 삭제 API 구현 및 테스트
  src/docs/asciidoc/comment.adoc
  src/main/java/com/konggogi/veganlife/comment/controller/CommentController.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentService.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
Labels: feature, test

#213 게시글 전체 조회 API 구현 및 테스트 + 인기 태그 조회 API 구현 및 테스트
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/controller/dto/response/PopularTagsResponse.java
  src/main/java/com/konggogi/veganlife/post/controller/dto/response/PostSimpleResponse.java
  src/main/java/com/konggogi/veganlife/post/domain/mapper/PostMapper.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
  src/main/java/com/konggogi/veganlife/post/repository/TagRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostQueryService.java
  src/main/java/com/konggogi/veganlife/post/service/PostSearchService.java
  src/main/java/com/konggogi/veganlife/post/service/dto/PostSimpleDto.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostFixture.java
  src/test/java/com/konggogi/veganlife/post/fixture/PostTagFixture.java
  src/test/java/com/konggogi/veganlife/post/repository/PostRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/repository/TagRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostSearchServiceTest.java
Labels: feature, test

#219 게시글 수정 API 구현 및 테스트
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/controller/dto/request/PostFormRequest.java
  src/main/java/com/konggogi/veganlife/post/domain/Post.java
  src/main/java/com/konggogi/veganlife/post/domain/mapper/PostMapper.java
  src/main/java/com/konggogi/veganlife/post/service/PostService.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostServiceTest.java
Labels: feature, refactor, test

#221 게시글 삭제 API 구현 및 테스트
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/service/PostService.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostServiceTest.java
Labels: feature, test

#226 게시글 검색 API 구현 및 테스트
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostQueryService.java
  src/main/java/com/konggogi/veganlife/post/service/PostSearchService.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/repository/PostRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostSearchServiceTest.java
Labels: feature, test

#227 MealLog dto, mapper 리팩토링
  src/main/java/com/konggogi/veganlife/meallog/controller/MealLogController.java
  src/main/java/com/konggogi/veganlife/meallog/controller/dto/request/MealLogModifyRequest.java
  src/main/java/com/konggogi/veganlife/meallog/controller/dto/request/MealModifyRequest.java
  src/main/java/com/konggogi/veganlife/meallog/domain/MealLog.java
  src/main/java/com/konggogi/veganlife/meallog/domain/mapper/MealLogMapper.java
  src/main/java/com/konggogi/veganlife/meallog/domain/mapper/MealMapper.java
  src/main/java/com/konggogi/veganlife/meallog/repository/MealLogRepository.java
  src/main/java/com/konggogi/veganlife/meallog/service/MealLogQueryService.java
  src/main/java/com/konggogi/veganlife/meallog/service/MealLogSearchService.java
  src/main/java/com/konggogi/veganlife/meallog/service/MealLogService.java
  src/main/java/com/konggogi/veganlife/meallog/service/dto/MealListDto.java
  src/main/java/com/konggogi/veganlife/meallog/service/dto/MealLogDetailsDto.java
  src/main/java/com/konggogi/veganlife/meallog/service/dto/MealLogListDto.java
  src/test/java/com/konggogi/veganlife/meallog/MealLogIntegrationTest.java
  src/test/java/com/konggogi/veganlife/meallog/controller/MealLogControllerTest.java
  src/test/java/com/konggogi/veganlife/meallog/repository/MealLogRepositoryTest.java
  src/test/java/com/konggogi/veganlife/meallog/service/MealLogQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/meallog/service/MealLogServiceTest.java
Labels: fix, refactor, test

#231 레시피 상세 조회 API 구현
  src/docs/asciidoc/recipe.adoc
  src/main/java/com/konggogi/veganlife/global/exception/ErrorCode.java
  src/main/java/com/konggogi/veganlife/recipe/controller/RecipeController.java
  src/main/java/com/konggogi/veganlife/recipe/controller/dto/response/RecipeDetailsResponse.java
  src/main/java/com/konggogi/veganlife/recipe/domain/Recipe.java
  src/main/java/com/konggogi/veganlife/recipe/domain/RecipeIngredient.java
  src/main/java/com/konggogi/veganlife/recipe/domain/mapper/RecipeMapper.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeQueryService.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeSearchService.java
  src/test/java/com/konggogi/veganlife/recipe/controller/RecipeControllerTest.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeDescriptionFixture.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeIngredientFixture.java
  src/test/java/com/konggogi/veganlife/recipe/fixture/RecipeIngredientsFixture.java
  src/test/java/com/konggogi/veganlife/recipe/repository/RecipeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeSearchServiceTest.java
Labels: feature, test

#229 내가 쓴 게시글 조회 API 구현 및 테스트
  src/docs/asciidoc/member.adoc
  src/main/java/com/konggogi/veganlife/member/controller/MemberController.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostQueryService.java
  src/main/java/com/konggogi/veganlife/post/service/PostSearchService.java
  src/test/java/com/konggogi/veganlife/member/controller/MemberControllerTest.java
  src/test/java/com/konggogi/veganlife/post/repository/PostRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostSearchServiceTest.java
Labels: feature, test

#234 레시피 등록 API 구현
  src/docs/asciidoc/recipe.adoc
  src/main/java/com/konggogi/veganlife/recipe/controller/RecipeController.java
  src/main/java/com/konggogi/veganlife/recipe/controller/dto/request/RecipeAddRequest.java
  src/main/java/com/konggogi/veganlife/recipe/domain/Recipe.java
  src/main/java/com/konggogi/veganlife/recipe/domain/mapper/RecipeMapper.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeService.java
  src/test/java/com/konggogi/veganlife/recipe/controller/RecipeControllerTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeSearchServiceTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeServiceTest.java
Labels: feature, test

#233 내가 쓴 댓글의 피드 조회 API 구현 및 테스트
  src/docs/asciidoc/member.adoc
  src/main/java/com/konggogi/veganlife/comment/domain/mapper/CommentMapper.java
  src/main/java/com/konggogi/veganlife/comment/service/dto/CommentDetailsDto.java
  src/main/java/com/konggogi/veganlife/member/controller/MemberController.java
  src/main/java/com/konggogi/veganlife/post/repository/PostRepository.java
  src/main/java/com/konggogi/veganlife/post/service/PostQueryService.java
  src/main/java/com/konggogi/veganlife/post/service/PostSearchService.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentSearchServiceTest.java
  src/test/java/com/konggogi/veganlife/member/controller/MemberControllerTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/repository/PostRepositoryTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/post/service/PostSearchServiceTest.java
Labels: feature, test

#236 MemberController 분리 리팩토링
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/member.adoc
  src/docs/asciidoc/my-page.adoc
  src/docs/asciidoc/nutrients.adoc
  src/main/java/com/konggogi/veganlife/member/controller/MemberController.java
  src/main/java/com/konggogi/veganlife/member/controller/MyPageController.java
  src/main/java/com/konggogi/veganlife/member/controller/NutrientsController.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/MemberMapper.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/NutrientsMapper.java
  src/test/java/com/konggogi/veganlife/member/controller/MemberControllerTest.java
  src/test/java/com/konggogi/veganlife/member/controller/MyPageControllerTest.java
  src/test/java/com/konggogi/veganlife/member/controller/NutrientsControllerTest.java
Labels: refactor

#238 PostController 분리 리팩토링
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/post-like.adoc
  src/docs/asciidoc/post-search.adoc
  src/docs/asciidoc/post.adoc
  src/main/java/com/konggogi/veganlife/post/controller/PostController.java
  src/main/java/com/konggogi/veganlife/post/controller/PostLikeController.java
  src/main/java/com/konggogi/veganlife/post/controller/PostSearchController.java
  src/test/java/com/konggogi/veganlife/post/controller/PostControllerTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostLikeControllerTest.java
  src/test/java/com/konggogi/veganlife/post/controller/PostSearchControllerTest.java
Labels: refactor

#240 CommentController 분리 리팩토링
  src/docs/asciidoc/comment-like.adoc
  src/docs/asciidoc/comment.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/konggogi/veganlife/comment/controller/CommentController.java
  src/main/java/com/konggogi/veganlife/comment/controller/CommentLikeController.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentControllerTest.java
  src/test/java/com/konggogi/veganlife/comment/controller/CommentLikeControllerTest.java
Labels: refactor

#242 소셜 로그인 API 리팩토링
  src/main/java/com/konggogi/veganlife/global/security/jwt/RefreshToken.java
  src/main/java/com/konggogi/veganlife/member/controller/OauthController.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/MemberMapper.java
  src/main/java/com/konggogi/veganlife/member/repository/RefreshTokenRepository.java
  src/main/java/com/konggogi/veganlife/member/service/MemberQueryService.java
  src/main/java/com/konggogi/veganlife/member/service/MemberService.java
  src/main/java/com/konggogi/veganlife/member/service/OauthService.java
  src/main/java/com/konggogi/veganlife/member/service/RefreshTokenService.java
  src/test/java/com/konggogi/veganlife/member/controller/OauthControllerTest.java
  src/test/java/com/konggogi/veganlife/member/fixture/RefreshTokenFixture.java
  src/test/java/com/konggogi/veganlife/member/repository/MemberRepositoryTest.java
  src/test/java/com/konggogi/veganlife/member/repository/RefreshTokenRepositoryTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/RefreshTokenServiceTest.java
Labels: refactor, test

#243 MemberService login() 로직 구현
  src/main/java/com/konggogi/veganlife/member/controller/OauthController.java
  src/main/java/com/konggogi/veganlife/member/domain/Member.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/MemberMapper.java
  src/main/java/com/konggogi/veganlife/member/service/MemberQueryService.java
  src/main/java/com/konggogi/veganlife/member/service/MemberService.java
  src/main/java/com/konggogi/veganlife/member/service/dto/MemberLoginDto.java
  src/test/java/com/konggogi/veganlife/member/controller/OauthControllerTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
Labels: refactor, test

#245 액세스 토큰 재발급 API 리팩토링
  src/docs/asciidoc/auth.adoc
  src/main/java/com/konggogi/veganlife/global/config/SecurityConfig.java
  src/main/java/com/konggogi/veganlife/global/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/konggogi/veganlife/member/controller/AuthController.java
  src/main/java/com/konggogi/veganlife/member/controller/dto/request/ReissueRequest.java
  src/main/java/com/konggogi/veganlife/member/controller/dto/response/ReissueTokenResponse.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/AuthMapper.java
  src/main/java/com/konggogi/veganlife/member/service/MemberQueryService.java
  src/main/java/com/konggogi/veganlife/member/service/RefreshTokenService.java
  src/test/java/com/konggogi/veganlife/member/controller/AuthControllerTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberQueryServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/RefreshTokenServiceTest.java
  src/test/java/com/konggogi/veganlife/support/docs/RestDocsTest.java
Labels: refactor, test

#249 회원 정보 수정 관련 API 리팩토링
  src/docs/asciidoc/member.adoc
  src/main/java/com/konggogi/veganlife/member/controller/MemberController.java
  src/main/java/com/konggogi/veganlife/member/controller/MyPageController.java
  src/main/java/com/konggogi/veganlife/member/controller/dto/request/AdditionalInfoUpdateRequest.java
  src/main/java/com/konggogi/veganlife/member/controller/dto/request/ProfileModifyRequest.java
  src/main/java/com/konggogi/veganlife/member/controller/dto/response/AdditionalInfoUpdateResponse.java
  src/main/java/com/konggogi/veganlife/member/domain/Member.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/MemberMapper.java
  src/main/java/com/konggogi/veganlife/member/service/MemberService.java
  src/test/java/com/konggogi/veganlife/member/controller/MemberControllerTest.java
  src/test/java/com/konggogi/veganlife/member/controller/MyPageControllerTest.java
  src/test/java/com/konggogi/veganlife/member/domain/MemberTest.java
  src/test/java/com/konggogi/veganlife/member/fixture/MemberFixture.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
  src/test/java/com/konggogi/veganlife/support/restassured/IntegrationTest.java
Labels: refactor, test

#246 사용자 추천 레시피 목록 조회 API 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/recipe.adoc
  src/main/java/com/konggogi/veganlife/global/util/RandomUtils.java
  src/main/java/com/konggogi/veganlife/recipe/controller/RecipeController.java
  src/main/java/com/konggogi/veganlife/recipe/controller/dto/response/RecipeResponse.java
  src/main/java/com/konggogi/veganlife/recipe/domain/mapper/RecipeMapper.java
  src/main/java/com/konggogi/veganlife/recipe/repository/RecipeRepository.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeQueryService.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeSearchService.java
  src/test/java/com/konggogi/veganlife/global/utils/RandomUtilsTest.java
  src/test/java/com/konggogi/veganlife/recipe/controller/RecipeControllerTest.java
  src/test/java/com/konggogi/veganlife/recipe/repository/RecipeRepositoryTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeSearchServiceTest.java
Labels: feature

#250 레시피 좋아요/좋아요 취소 API 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/recipe-like.adoc
  src/main/java/com/konggogi/veganlife/global/exception/ErrorCode.java
  src/main/java/com/konggogi/veganlife/recipe/controller/RecipeController.java
  src/main/java/com/konggogi/veganlife/recipe/controller/RecipeLikeController.java
  src/main/java/com/konggogi/veganlife/recipe/domain/RecipeLike.java
  src/main/java/com/konggogi/veganlife/recipe/domain/mapper/RecipeLikeMapper.java
  src/main/java/com/konggogi/veganlife/recipe/repository/RecipeLikeRepository.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeLikeQueryService.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeLikeService.java
  src/main/java/com/konggogi/veganlife/recipe/service/RecipeSearchService.java
  src/test/java/com/konggogi/veganlife/recipe/controller/RecipeControllerTest.java
  src/test/java/com/konggogi/veganlife/recipe/controller/RecipeLikeControllerTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeLikeServiceTest.java
  src/test/java/com/konggogi/veganlife/recipe/service/RecipeSearchServiceTest.java
Labels: feature, test

#252 액세스 토큰 재발급시 리프레시 토큰 재발급 및 로직 변경
  src/docs/asciidoc/auth.adoc
  src/main/java/com/konggogi/veganlife/global/exception/ErrorCode.java
  src/main/java/com/konggogi/veganlife/global/security/jwt/JwtProvider.java
  src/main/java/com/konggogi/veganlife/member/controller/AuthController.java
  src/main/java/com/konggogi/veganlife/member/controller/OauthController.java
  src/main/java/com/konggogi/veganlife/member/controller/dto/response/ReissueTokenResponse.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/AuthMapper.java
  src/main/java/com/konggogi/veganlife/member/domain/mapper/MemberMapper.java
  src/main/java/com/konggogi/veganlife/member/service/MemberService.java
  src/main/java/com/konggogi/veganlife/member/service/RefreshTokenService.java
  src/test/java/com/konggogi/veganlife/member/controller/AuthControllerTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/RefreshTokenServiceTest.java
  src/test/java/com/konggogi/veganlife/support/restassured/IntegrationTest.java
Labels: refactor, test

#254 댓글 회원 언급 기능 구현 및 테스트
  src/main/java/com/konggogi/veganlife/comment/service/CommentNotifyService.java
  src/main/java/com/konggogi/veganlife/comment/service/CommentService.java
  src/main/java/com/konggogi/veganlife/member/service/MemberQueryService.java
  src/main/java/com/konggogi/veganlife/notification/domain/NotificationMessage.java
  src/main/java/com/konggogi/veganlife/notification/domain/NotificationType.java
  src/main/java/com/konggogi/veganlife/post/domain/Post.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentNotifyServiceTest.java
  src/test/java/com/konggogi/veganlife/comment/service/CommentServiceTest.java
  src/test/java/com/konggogi/veganlife/member/service/MemberQueryServiceTest.java
Labels: feature, test
